[Desktop Entry]
Type=ControlPanelApplet
Name=Reset settings
Icon=
Exec=
X-logical-id=qtn_rset_reset_settings
X-translation-catalog=reset
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
X-Maemo-Fixed-Args=Reset settings

[DUI]
X-DUIApplet-Applet=libresetapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
Category=qtn_sett_main_data
Order=5
WidgetType=Label
HelpId=IDUG_MEEGO_SETT_CLEARDEVICE.html
