[Desktop Entry]
Type=ControlPanelApplet
Name=About product
X-logical-id=qtn_prod_about_product
X-translation-catalog=about-product
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
X-Maemo-Fixed-Args=About product

[DUI]
X-DUIApplet-Applet=libaboutapplet.so

[DCP]
Category=qtn_sett_main_about
Order=2
WidgetType=Label
